%html
  %head
    %title Send big file app by Filipe Moreira
    %link{:rel => "stylesheet", :type => "text/css", :href => "css/style.css"}
    %script{:type => "text/javascript", :src => "js/jquery-1.4.2.min.js"}
    %script{:type => "text/javascript", :src => "js/main.js"}
  %body
    %h1 Welcome to my World
    = yield
    
